
 .password-form{
     display: block;
     padding: 2rem 0 1rem 2rem;
     height: 35vh;
 }
 .password-form-wrap{
     width: 50%;
    margin: 1rem;
    margin-top: 1.5rem;
 }
 .password-form-wrap>.label{
     margin-bottom: .35rem;
     margin-left: .25rem;
     color: #5a5a5a;
     display: block;
 }
 .star{
     color: orangered;
 }
 .password-form-wrap>input,
 .password-form-wrap>select{
     outline: none;
     border:none;
     border-radius: 0;
     border-bottom: 1px solid #5a5a5a !important;
     padding: .5rem;
     width: 100%;
 }
 .password-button{
     width: 100%;
     padding: 1rem 2rem;
     color:#fff;
     background-color: var(--main-color);
     margin-bottom: 1.5rem;
     margin-top: 1.5rem;
     margin-left: .5rem;
     border: none;
     font-size: 1rem;
     text-transform: uppercase;
 }
 .password-button:hover{
     cursor: pointer;
     color: var(--main-color);
     border: 1px solid var(--main-color);
     background: #fff;
 }