td{
    padding: .75rem;
    
}

tr{
    /* height:30vh !important; */
}

th{
    padding:.75rem;
    color:'#ccc'
}

.display-none{
    display:none !important;
    width:25%;
}

.page_title:hover>.display-none{
    display: flex !important;
    margin-left: .5rem;
}

.margin{
    margin-right: 2.5rem !important;
}