/* .float-right{
    float: right;
    
} */
.address-button{
    width: 20% !important;
    padding: .50rem ;
    background-color: var(--main-color) !important;
    color:#fff !important;
    border: none;
    border-radius: 4px;
    /* margin-top: -3rem; */
    display: block;
}