.review-card-container{
    min-height: 35vh;
    background-color: #fff;
    padding: 2rem;
}

.review-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid rgb(65, 64, 64);
    border-radius: 4px;
    padding:1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
}
.review-image{
    width: 5rem;
    height: 5rem;
    border: 1px solid #000;
}
.review-details p:first-child{
    color: rgb(65, 64, 64);
    margin-bottom: 1rem;
}
.review-details p:nth-child(2){
    font-weight: 500;
    color:#000
}
.review-details p:last-child{
    color:#ccc;
    margin-top: 0.25rem;
}
.review-button button{
    padding: 1rem 2rem;
    color: var(--main-color);
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    cursor: pointer;
}
.review-button button:hover{
    color: #fff;
    text-transform: uppercase;
    background-color: var(--main-color);
    border: none ;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s;
}