#sidebar{
    /* width:21.563rem; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--main-color) ;
    z-index: 100;
    transition: width 300ms;
}
.sidebar-brand{
    height: 5.625rem;
    padding: 1rem 0rem 1rem 2rem;
    color:#fff;
}
.sidebar-brand span{
    display: inline-block;
    padding-right: 1.2rem;
}
.sidebar-menu {
    margin-top: 1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
}
.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
}
.sidebar-menu a.active{
    background-color: #fff;
    color: var(--main-color);
    padding-top: 1rem ;
    padding-bottom: 1rem;
    border-top-left-radius: 1.875rem;
    border-bottom-left-radius: 1.875rem;
}
.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked + #sidebar {
    width: 4.375rem;
}

#nav-toggle:checked + #sidebar .sidebar-brand,
#nav-toggle:checked + #sidebar li{
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked + #sidebar li a{
    padding-left: 0rem;
}


#nav-toggle:checked + #sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + #sidebar li a span:last-child{
    display: none;
}

.right{
    margin-left: .5rem;
}
.mt-link-3{
    margin-top: 1.5rem;
}
