/* ,,,,,,,,,,,,,,,RESPONSIVITY,,,,,,,,,,,,,,,,, */

@media only screen and (max-width:1200px) {
    .sidebar {
        width: 150px;
    }
    
    .sidebar .sidebar-brand,
    .sidebar li{
        padding-left: 1rem;
        text-align: center;
    }
    
    .sidebar li a{
        padding-left: 0rem;
    }
    
    
    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child{
        display: none;
    }
    
    .main-content {
        margin-left: 4.375rem;
    }
    
    .main-content header {
        width: calc(100% - 4.375rem);
        left: 4.375rem;
    }
    
   
}

@media only screen and (max-width:960px) {
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }

    .recent-grid{
        grid-template-columns: 60% 40%;
    }
}

@media only screen and (max-width:768px) {
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-grid{
        grid-template-columns: 100% ;
    }
    .search-wrapper{
        display: none;
    }
    .sidebar{
        left: -100% !important;
    }
    header h2{
        display: flex;
        align-items: center;
    }
    header h2 label{
        display: inline-block;
        background: var(--main-color);
        padding-left: 0rem;
        margin-right: 1rem;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }
    header h2 span {
        text-align: center;
        padding-right: 0rem;
    }
    header h2{
        font-size: 1.1rem;
    }
    .main-content {
        width: 100%;
        margin-left: 0rem;
    }
    header{
        width: 100% !important;
        left: 0 !important;
    }
    #nav-toggle:checked + .sidebar{
        left: 0 !important;
        z-index: 100;
        width: 20.563rem;
    }
   
    #nav-toggle:checked +.sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebarli{
        padding-left: 2rem;
        text-align: left;
    }
    
    #nav-toggle:checked + .sidebar li a{
        padding-left: 1rem;
    }
    
    
    #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child{
        display: inline;
    }
    #nav-toggle:checked  ~ .main-content{
        margin-left: 0rem !important;
    }
}

@media only screen and (max-width:560px) {
    .cards{
        grid-template-columns: 100%;
    }

}